* {
  border: 2px solid red;
}

body {
  margin: 0;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  font-size: 30px;
}

.calculator {
  border: 1px solid black;
  border-radius: 15px;
  width: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.screen {
  margin: 1vw 1.5vw;
  padding: 1vw;
  border: 1px solid black;
  border-radius: 5px;

  text-align: right;
}

.buttons {
  padding: 2%;
}

.rows {
  display: flex;
  text-align: center;
  gap: 2%;
  padding-bottom: 16px;
}

.button {
  flex: 1 1 16%;
  border: 1px solid blueviolet;
  border-radius: 50%;
  aspect-ratio: 1/1;

  display: flex;
  justify-content: center;
  align-items: center;
}

